.birth{
    background:  url(../../1814668-emoji-people.png);
    width: 200px;
    height: 188px;
    /* background-position-y: -467px; */
    animation: mymove 0.5s steps(3) infinite, mymoveY 1.5s steps(3) infinite
}
@keyframes mymoveX {
    100%{background-position-x:-600px ;}
}
@keyframes mymoveY {
    100%{background-position-y:-564px ;}
}